/* -----------------------FOOTER--------------------- */
footer{
    background-color: #141a0f;
    color: #ffffff;
}

.footer__nav-list{
    padding: 85px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nav-item a{
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.footer__title{
    padding: 85px 0px 30px;
    text-align: center;
    font-size: 22px;
    font-family: "Unna", serif;
}

.footer__subcribe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__subcribe input{
    width: 30%;
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: none;
}

.footer__subcribe-btn{
    margin-left: 5px;
    align-items: center;
    padding: 15px 40px;
    font-size: 15px;
    border: none;
    background-color: #5c9735;
    cursor: pointer;
}

.social{
    margin-top: 60px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
    opacity: 0.7;
}

.social a i{
    color: #ffffff;
}

.footer__author{
    text-align: center;
    padding-bottom: 10px;
    color: #4d4f48;
    font-size: 15px;
    font-family: "Unna", serif;
}
