/* ------------------header----------------- */
header{
    width: 100%;
    border-bottom: 1px solid #d6d8cc;
}

/* .header__top{
    display: flex;
    align-items: center;
} */

.header__top{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top ul{
    list-style: none;
}

/* ------------------------SIDE BAR----------------------- */

.menubar, 
.close-menu{
    color: black;
}

.menubar{
    /* display: none; */
    cursor: pointer;
}

.close-menu{
    display: none;
    position: relative;
    cursor: pointer;
}

.sidebar-list{
    width: 100%;
    margin-top: 20px;
    padding: 20px 0 0 20px;
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
}

.sidebar-list li{
    height: 40px;
}

.sidebar-list li a{
    color: #141a0f;
}

/* --------------------------END SIDE BAR-------------------------- */

.header__right{
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__nav-list {
    display: flex;
}

.header__nav-item a{
    padding: 0 20px;
    text-decoration: none;
    color: #4d4f48;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

.header__actions{
    display: flex;
}

.header__actions i{
    color: #4d4f48;
    cursor: pointer;
}

/* .header__search{
    border: 1px solid black;
} */

.header__search input{
    display: none;
    border: none;
    outline: none;
    padding-top: 2px;
}

/* .header__search i{
    border: none;
    outline: none;
} */

.header__cart{
    position: relative;
    /* background-color: yellow; */
    width: 20px;
    height: 20px;
}

.header__cart i{
    color: #5c9735;
}

.cart__quantity{
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    background-color: #5c9735;
    border-radius: 50%;
    position: absolute;
    top: -70%;
    right: -65%;
}

.cart-tab{
    width: 440px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    opacity: 0;
    z-index: 0;
    top: 0;
    right: 0;
    pointer-events: none;
    right: -440px; /* Bắt đầu từ ngoài màn hình */
    transition: right 0.1s ease, opacity 0.5s ease; /* Thêm hiệu ứng chuyển động */
}

.cart-tab.show{
    opacity: 1;
    z-index: 1;
    pointer-events: all;
    right: 0; /* Di chuyển vào màn hình */
}

.cart-tab a{
    text-decoration: none;
}

.cart-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d8cc;
}

.cart-top span{
    color: #141a0f;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    padding: 25px;
}

.cart-top i{
    margin-right: 20px;
    color: #141a0f;
    font-size: 20px;
}

.list-cart{
    height: 76.1vh;
    overflow-y: scroll;
}

.cart-item{
    width: 90%;
    margin: 0 auto; 
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d6d8cc;
}

.cart-item .close{
    color: #4d4f48;
    font-size: 12px;
    border: 1px solid #4d4f48;
    border-radius: 50%;
    padding: 1px 4px 2px 4px;
    opacity: 80%;
}

.cart-item-description{
    display: flex;
    align-items: center;
}

.cart-item__img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.cart-item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-item__name,
.cart-item__quantity, 
.cart-item__price{
    color: #141a0f;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 10px;
}

.cart-item__quantity, 
.cart-item__price {
    font-size: 16px;
    color: #4d4f48;
}

.cart-item__detail i{
    font-size: 13px;
    color: #4d4f48;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border-top: 1px solid #d6d8cc;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.cart-tab-btn{
    display: flex;
}

.cart-tab-btn a{
    width: 220px;
    text-align: center;
    color: #141a0f;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    padding: 17px;
}

.cart-tab-btn .viewCart{
    background-color: #e7f1e0;
}

.cart-tab-btn .checkout{
    background-color: #53b043;
}

/* ẩn dropdown */
.header__account{
    position: relative;
    display: inline-block;
    /* padding: 20px; */
    /* background-color: aqua; */
}

.header__account::after{
    content: "";
    position: absolute;
    /* background-color: yellow; */
    width: 15px;
    height: 10px;
    top: 100%;
    left: 0;
}

.header__account-dropdown{
    display: none;
    position: absolute;
    top: 130%; /*đặt dưới icon user*/
    left: 50%; /*căn giữa*/
    transform: translateX(-32%); /*căn giữa*/
    /* background-color: red; */

}

.header__account:hover .header__account-dropdown{
    display: block;
}

.header__account-dropdown div{
    padding: 10px 10px;
}
