
.container__filter{
    background-color: #ffffff;
    padding: 95px 20px 80px; 
}

.container-header__link{
    color: #777777;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 28px;
}

.container-header__link a{
    color: #777777;
    text-decoration: none;
}

.container-header__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header__filter--left{
    color: #4d4f48;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

.container-header__filter--right select{
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: #666666;
    padding: 5px;
    outline: none;
    border: none;
}

.container-header__filter--right select:hover{
    border: 1px;
    border-style: dashed;
    border-color: #666666;
}

.container-header__filter--right select option{
    color: #666666;
}

/* ----------------------PRODUCT----------------------- */
.product__image {
    object-fit: cover;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.product__image img{
    width: 100%;
    height: 100%;
}

.product__cart{
    position: absolute;
    top: 15px;
    right: 18px;
    display: flex;
    align-items: center;
}

.product__cart-content{
    background-color: rgb(25, 24, 24);
    color: hsl(0, 22%, 93%);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.product__cart-icon{
    display: none;
    margin-left: 5px;
    padding: 10px;
    background-color: rgb(220, 214, 214);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
}

.product__cart-content, 
.fa-caret-right{
    display: none;
}

.product__image:hover .product__cart-icon{
    display: inline-block;
}

.product__cart-icon:hover{
    opacity: 1;
}

.product__cart:hover .product__cart-content{
    display: inline-block;
}

.product__cart:hover .fa-caret-right{
    display: inline-block;
}

.rating{
    margin: 5px 0px;
}

.rating i{
    margin-right: -3px;
    font-size: 13px;
    color: rgb(10, 10, 9);
}

.product__name{
    margin-top: 10px;
    color: #141a0f;
    font-size: 18px;
    font-family: "Unna", serif;
}

.product__category{
    margin: 10px 0px 8px;
    color: #4d4f48;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.product__price{
    color: #141a0f;
    font-size: 14.5px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}


/* ----------------BTN PAGES---------------- */
.btn-pages{
    width: 86%;
    margin: 0 auto 30px;
}

.btn-pages__link{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    border: 1px solid #141a0f;
}

.bold{
    color: #ffffff;
    background-color: #141a0f;
}