:root{
    --e-global-color-astglobalcolor7: #141a0f;
}

/* ------------------header----------------- */
header{
    width: 100%;
    background-image: url(../img/hero-section-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    background-color: #454844f0;
}

.header__top{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top ul{
    list-style: none;
}

/* ------------------------SIDE BAR----------------------- */

.menubar, 
.close-menu{
    color: #ffffff;
}

.menubar{
    /* display: none; */
    cursor: pointer;
}

.close-menu{
    display: none;
    position: relative;
    cursor: pointer;
}

.sidebar-list{
    width: 100%;
    margin-top: 20px;
    padding: 20px 0 0 20px;
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
}

.sidebar-list li{
    height: 40px;
}

.sidebar-list li a{
    display: block;
    width: 100%;
    color: #141a0f;
}

/* --------------------------END SIDE BAR-------------------------- */

.header__right{
    display: flex;
    align-items: center;
    gap: 60px;
    /* border: 1px solid black; */
}

/* .header__logo-img{
    width: 140px;
} */

.header__nav-list {
    display: flex;
}

.header__nav-item a{
    padding: 0 20px;
    text-decoration: none;
    color: #f4f6f3;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

.header__actions{
    display: flex;
    align-items: center;
}

.header__actions i{
    color: white;
    cursor: pointer;
}

.header__search{
    display: flex;
    border-radius: 15px;
}

.header__search:hover{
    background-color: #ffffff;
    opacity: 0.8;
}

.header__search:hover i{
    color: #141a0f;
}

.header__search:hover .header-search-input{
    padding: 5px;
    transition: 0.5s;
}

.header-search-input{
    width: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
}

.header__search-submit{
    display: none;
}

.header__search i{
    padding: 4px 5px 5px 0;
}

.header__cart{
    margin-top: 4px;
    position: relative;
    /* background-color: yellow; */
    width: 20px;
    height: 20px;
}

/* .header__cart i{
    color: #5c9735;
} */

.cart__quantity{
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -70%;
    right: -45%;
}

.cart-tab{
    width: 400px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    opacity: 0;
    z-index: 0;
    top: 0;
    /* right: 0; */
    pointer-events: none;
    right: -440px; /* Bắt đầu từ ngoài màn hình */
    transition: right 0.3s ease, opacity 0.8s ease; /* Thêm hiệu ứng chuyển động */
}

.cart-tab.show{
    right: 0;
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.cart-tab a{
    text-decoration: none;
}

.cart-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d8cc;
}

.cart-top span{
    color: #141a0f;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    padding: 25px;
}

.cart-top i{
    margin-right: 20px;
    color: #141a0f;
    font-size: 20px;
}

.list-cart{
    height: calc(100vh - 174px);
    overflow-y: scroll;
}

.cart-item{
    width: 90%;
    margin: 0 auto; 
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d6d8cc;
}

.cart-item .close{
    color: #4d4f48;
    font-size: 12px;
    border: 1px solid #4d4f48;
    border-radius: 50%;
    padding: 1px 4px 2px 4px;
    opacity: 80%;
}

.cart-item-description{
    display: flex;
    align-items: center;
}

.cart-item__img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.cart-item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-item__name,
.cart-item__quantity, 
.cart-item__price{
    color: #141a0f;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 10px;
}

.cart-item__quantity, 
.cart-item__price {
    font-size: 16px;
    color: #4d4f48;
}

.cart-item__detail i{
    font-size: 13px;
    color: #4d4f48;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border-top: 1px solid #d6d8cc;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

/* Cart tab buttons */
.cart-tab-btn{
    display: flex;
}

.cart-tab-btn a{
    width: 100%;
    display: block;
    text-align: center;
    color: #141a0f;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    padding: 17px;
}

.cart-tab-btn .viewCart{
    flex: 1;
    background-color: #e7f1e0;
}

.cart-tab-btn .checkout{
    flex: 1;
    background-color: #53b043;
}

/* ẩn dropdown */
.header__account{
    position: relative;
    display: inline-block;
    /* padding: 20px; */
    /* background-color: aqua; */
}

.header__account::after{
    content: "";
    position: absolute;
    /* padding: 15px; */
    /* background-color: yellow; */
    width: 15px;
    height: 10px;
    top: 100%;
    left: 0;
}

.header__account-dropdown{
    display: none;
    position: absolute;
    top: 130%; /*đặt dưới icon user*/
    left: 0; /*căn giữa*/
    transform: translateX(-32%); /*căn giữa*/
    background-color: #ffffff;
    border-radius: 5px;
}

.header__account-dropdown a{
    text-decoration: none;
    color: #141a0f;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

.header__account:hover .header__account-dropdown{
    display: block;
}

.header__account-dropdown div{
    padding: 10px 10px;
}

/* ----------------------------------HEADER BODY------------------------------- */

.header__body{
    /* margin-top: 90px; */
    color: #ffffff;
    font-family: "Unna", serif;
    font-weight: 200;
    position: relative;
}

.header__welcome-massage{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header__main-title{
    text-align: center;
}

.header__button{
    padding: 11px 30px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--e-global-color-astglobalcolor7);
    font-family: "DM Sans", sans-serif;
    border: none;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* ---------------new plants------------------- */
.new__plants{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new__plants-title{
    font-size: 40px;
    font-family: "Unna", serif;
    font-weight: 200;
    color: var(--e-global-color-astglobalcolor7);
}

.new__plants-link{
    padding: 13px 30px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: #5c9735;
    border: none;
    cursor: pointer;
}

/* ------------------ PRODUCTS ------------------- */
.products{
    height: auto;
    margin: 0 auto 130px;
    display: grid;
    column-gap: 22px;
    row-gap: 45px;
}

.product__image {
    object-fit: cover;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.product img{
    width: 100%;
    height: 100%;
}

.product__cart{
    position: absolute;
    top: 15px;
    right: 18px;
    display: flex;
    align-items: center;
}

.product__cart-content{
    background-color: rgb(25, 24, 24);
    color: hsl(0, 22%, 93%);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.product__cart-icon{
    display: none;
    margin-left: 5px;
    padding: 10px;
    background-color: rgb(220, 214, 214);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
}

.product__cart-content, 
.fa-caret-right{
    display: none;
}

.product__image:hover .product__cart-icon{
    display: inline-block;
}

.product__cart-icon:hover{
    opacity: 1;
}

.product__cart:hover .product__cart-content{
    display: inline-block;
}

.product__cart:hover .fa-caret-right{
    display: inline-block;
}

.rating{
    margin: 5px 0px;
}

.rating i{
    margin-right: -3px;
    font-size: 13px;
    color: rgb(10, 10, 9);
}

.product__name{
    margin-top: 10px;
    color: #141a0f;
    font-size: 18px;
    font-family: "Unna", serif;
}

.product__category{
    margin: 10px 0px 8px;
    color: #4d4f48;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.product__price{
    color: #141a0f;
    font-size: 14.5px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

/* ------------------------------OUR STORY--------------------------- */

.our-story__left img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.our-story__title, .our-story__tagline{
    text-transform: uppercase;
    color: #141a0f;
    font-family: "Unna", serif;
}

.our-story__title{
    font-size: 18px;
    letter-spacing: 2px;
}

.our-story__tagline{
    font-size: 32px;
    font-weight: 50;
    margin: 13px 0 28px;
}

.our-story__description,
.our-story__details {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: #4d4f48;
    line-height: 1.5;
}

.our-story__btn{
    margin-top: 20px;
    padding: 13px 30px;
    color: #ffffff;
    background-color: #5c9735;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

/* ------------------CUSTOMER REVIEW------------------- */

.customer-reviews__title{
    text-align: center;
    color: #20271aef;
    font-family: "Unna", serif;
    font-weight: 400;
}

.customer-reviews__dash{
    display: block;
    margin: 25px auto;
    width: 45px;
    height: 1px;
    background-color: #000;
}

.fa-quote-left{
    font-size: 30px;
    color: #afb0ac;
    display: flex;
    justify-content: center;
}

.customer-reviews__content{
    color: #141a0f;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
    font-weight: 530;
    text-align: center;
    line-height: 1.5;
}

.customer-reviews__avt {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 50%;
}

.customer-reviews__name{
    margin-top: 25px;
    text-align: center;
    color: #4d4f48;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 530;
    letter-spacing: 2px;
}

/* ---------------------GIRD CARD------------------- */
.gird-card{
    width: 100%;
    height: auto;
}

.gird-card__container{
    padding-bottom: 70px;
    background-image: url(../img/footer-background.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    background-color: #454844f0;
}

.gird-card__subtitle,
.gird-card__title{
    text-align: center;
    color: #ffffff;
    font-family: "Unna", serif; 
}

.gird-card__subtitle{
    padding-top: 180px;
    font-size: 18px;
    letter-spacing: 2px;
}


.gird-card__description{
    text-align: center;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
}

.gird-card__container a{
    text-decoration: none;
}

.gird-card__btn{
    display: block;
    padding: 15px 30px;
    color: #141a0f;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* ------------------SERVICE FEATURES------------------ */

.service__feature i{
    color: #ffffff;
    background-color: #5c9735;
    border-radius: 50%;
}

.service__title{
    color: #141a0f;
    font-family: "Unna", serif;
    letter-spacing: 1px;
}

.service__description{
    color: #4d4f48;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}
