.container{
    height: 100vh;
    overflow: hidden;
}

.container-wrapper{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 90px auto;
    font-family: "DM Sans", sans-serif;
    border-radius: 15px;
    background-color: rgba(240, 231, 227, 0.411);
}

.image, .form{
    flex: 1;
}

/* ----------------IMAGE-------------- */
.image{
    width: 80%;
    height: auto;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* ----------------FORM---------------- */
.form{
    margin: 0px 90px 0px 50px;
}

.form-title{
    margin: 85px 0px 30px;
    color: #141a0f;
    font-size: 28px;
}

.form-username, .form-password{
    margin: 10px 0px 0px;
    color: #141a0f;
    font-size: 18px;
}

.form-username input, 
.form-password input{
    width: 100%;
    margin: 10px 0px;
    padding: 15px 10px;
    color: #4d4f48;
    font-size: 16px;
    border: 1px solid #d6d8cc;
    border-radius: 5px;
    outline: none;
}

.form-action{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #4d4f48;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
}

.form-action-remember label{
    cursor: pointer;
}

.form-action a{
    text-decoration: none;
    margin-right: -17px;
    font-size: 17px;
}

.form-btn{
    width: 100%;
    margin: 30px 10px 15px;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #5c9735;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.form-btn:hover{
    cursor: pointer;
}

.form-other{
    color: #4d4f48;
    text-align: center;
}

.form-other a{
    text-decoration: none;
}


/* ------------ FORM ICON ARROW------------ */
.form-icon-arrow {
    text-align: right;
    margin-top: 20px;
    position: relative;
}

.form-icon-arrow a{
    text-decoration: none;
}

.form-icon-arrow a i{
    color: #141a0f;
    font-size: 18px;
    padding: 5px;
    border: 1px solid rgb(203, 200, 200);
    border-radius: 50%;
}

.form-icon-arrow span{
    display: none;
    position: absolute;
    top: 5px;
    right: 35px;
}

.form-icon-arrow a:hover span{
    display: block;
}
