/* Desktop  */

@media screen and (min-width: 1025px) {
    /* ------------------CONTAINER--------------- */

    .container__filter{
        padding: 90px 20px 80px; 
    }

    .container{
        padding: 60px 150px;
    }

    .checkout{
        width: 85%;
    }
}

/* Tablet */
@media screen and (max-width: 1024px) {
    /* ------------------CONTAINER--------------- */
    .container__filter{
        padding: 90px 20px 80px; 
    }

    .container{
        padding: 60px 20px;
    }

    .checkout{
        width: 85%;
    }
}

@media (max-width: 820px){
    /* ------------------CONTAINER--------------- */
    .container__filter{
        padding: 40px 20px 30px; 
    }

    .container{
        padding: 30px 20px;
    }

    .checkout{
        width: 95%;
    }

    form{
        flex-direction: column;
    }

    .billing-details, .your-order{
        width: 100%;
    }

    .your-order-top, 
    .your-order-body,
    .your-order-footer{
        width: 88%;
    }
    
}

/* Mobile */
@media (max-width: 768px){
    /* ------------------CONTAINER--------------- */
    .container__filter{
        padding: 40px 20px 30px; 
    }

    .container{
        padding: 30px 20px;
    }

    .checkout{
        width: 95%;
    }

    .checkout-coupon-top i{
        margin-left: 20px;
    }

    .checkout-coupon-top a{
        display: block;   /*xuống hàng*/
        margin-left: 50px;
        margin-top: -10px;
        padding-bottom: 15px;
        color: #5c9735;
    }

    .checkout-coupon-form input{
        width: 92%;
    }

    .checkout-form-btn {
        width: 98%;
        margin-top: 10px;
    }

    .form-information{
        flex-direction: column;
    }

    .billing-details, .your-order{
        width: 100%;
    }

    .your-order-top, 
    .your-order-body,
    .your-order-footer{
        width: 88%;
    }

    .logistics{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

