/* Desktop  */

@media screen and (min-width: 1025px) {
    .contact{
        width: 80%;
        margin: 60px auto 80px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    /* ------------------CONTACT INFO------------------- */

    .contact-info__title{
        margin: 20px 0px 40px;
        font-size: 72px;
    }
    
    .contact-info__subtitle{
        font-size: 16px;
        margin: 20px 20px 45px 0px;
    }

    .contact-info__item{
        margin: 43px 0;
    }

    .contact-info__detail span{
        font-size: 18px;
    }
    
    .contact-info__detail p{
        font-size: 16px;
    }

    .contact-info__social p{
        font-size: 18px;
    }

    /* ---------------CONTACT COLUMN----------------- */
    .contact-column{
        margin: 0 60px;
    }

    /* --------------CONTACT FORM----------------- */
    .contact-form{
        margin-left: 30px;
    }

    .contact-form__title{
        margin: 42px 0px 40px;
        font-size: 32px;
    }

    .contact-form__label{
        font-size: 16px;
    }

    .contact-form__input--name input,
    .contact-form__input--email input,
    .contact-form__input--comment textarea{
        width: 90%;
    }
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .contact{
        width: 94%;
        margin: 50px auto 80px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    /* ------------------CONTACT INFO------------------- */

    .contact-info__title{
        margin: 20px 0px 40px;
        font-size: 72px;
    }
    
    .contact-info__subtitle{
        font-size: 16px;
        margin: 20px 20px 45px 0px;
    }

    .contact-info__item{
        margin: 43px 0;
    }

    .contact-info__detail span{
        font-size: 18px;
    }
    
    .contact-info__detail p{
        font-size: 16px;
    }

    .contact-info__social p{
        font-size: 18px;
    }

    /* ---------------CONTACT COLUMN----------------- */
    .contact-column{
        margin: 0 49px;
    }

    /* --------------CONTACT FORM----------------- */
    .contact-form{
        margin-left: 0;
    }

    .contact-form__title{
        margin: 42px 0px 40px;
        font-size: 32px;
    }

    .contact-form__label{
        font-size: 16px;
    }

    .contact-form__input--name input,
    .contact-form__input--email input,
    .contact-form__input--comment textarea{
        width: 94%;
    }
}

@media (max-width: 860px){
    .contact{
        width: 94%;
        margin: 50px auto 80px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    /* ------------------CONTACT INFO------------------- */

    .contact-info__title{
        font-size: 48px;
        margin: 20px 0px 30px;
    }
    
    .contact-info__subtitle{
        font-size: 15px;
        margin: 20px 18px 30px 0px;
    }

    .contact-info__item{
        margin: 30px 0;
    }

    .contact-info__detail span{
        font-size: 14px;
    }
    
    .contact-info__detail p{
        font-size: 15px;
    }

    .contact-info__social p{
        font-size: 14px;
    }

    /* ---------------CONTACT COLUMN----------------- */
    .contact-column{
        margin: 0 49px;
    }

    /* --------------CONTACT FORM----------------- */
    .contact-form{
        margin-left: 0;
    }

    .contact-form__title{
        margin: 30px 0px 40px;
        font-size: 28px;
    }

    .contact-form__label{
        font-size: 15px;
    }

    .contact-form__input--name input,
    .contact-form__input--email input,
    .contact-form__input--comment textarea{
        width: 94%;
    }
    
}

@media (max-width: 768px){
    .contact{
        width: 94%;
        margin: 50px auto 80px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    /* ------------------CONTACT INFO------------------- */

    .contact-info__title{
        font-size: 48px;
        margin: 20px 0px 30px;
    }
    
    .contact-info__subtitle{
        font-size: 15px;
        margin: 20px 18px 30px 0px;
    }

    .contact-info__item{
        margin: 30px 0;
    }

    .contact-info__detail span{
        font-size: 14px;
    }
    
    .contact-info__detail p{
        font-size: 15px;
    }

    .contact-info__social p{
        font-size: 14px;
    }

    /* ---------------CONTACT COLUMN----------------- */
    .contact-column{
        margin: 0 49px;
    }

    /* --------------CONTACT FORM----------------- */
    .contact-form{
        margin-left: 0;
    }

    .contact-form__title{
        margin: 30px 0px 40px;
        font-size: 28px;
    }

    .contact-form__label{
        font-size: 15px;
    }

    .contact-form__input--name input,
    .contact-form__input--email input,
    .contact-form__input--comment textarea{
        width: 94%;
    }
}

@media (max-width: 480px){
    .contact{
        width: 94%;
        margin: 50px auto 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    /* ------------------CONTACT INFO------------------- */

    .contact-info__title{
        font-size: 40px;
        margin: 10px 0px 30px;
    }
    
    .contact-info__subtitle{
        font-size: 14px;
        margin: 20px 18px 30px 0px;
    }

    .contact-info__item{
        margin: 30px 0;
        flex-direction: column;
        gap: 10px;
    }

    .contact-info__detail span{
        font-size: 14px;
    }
    
    .contact-info__detail p{
        margin-top: 5px;
        font-size: 14px;
        line-height: 1.3;
    }

    .contact-info__row{
        margin: 0 auto;
    }

    .contact-info__social{
        width: 92%;
        margin: 0 auto;
        border-bottom: 0.5px solid #d6d8cc;
    }

    .contact-info__social p{
        font-size: 14px;
    }

    .contact-info__social a i{
        margin-bottom: 50px;
    }

    /* ---------------CONTACT COLUMN----------------- */
    .contact-column{
        margin: 0 49px;
    }

    /* --------------CONTACT FORM----------------- */
    .contact-form{
        justify-content: start;
        margin: 0;
    }

    .contact-form__title{
        margin: 30px 0px 40px;
        font-size: 24px;
    }

    .contact-form__label{
        font-size: 14px;
        float: left;
        margin-left: 10px;
    }

    .contact-form__required{
        float: left;
        margin-left: 2px;
    }

    .contact-form__input--name input,
    .contact-form__input--email input,
    .contact-form__input--comment textarea{
        width: 90%;
    }

    .contact-form__submit{
        float: left;
        margin-left: 9px;
    }
}