/* Desktop  */

@media screen and (min-width: 1025px) {
    header{
        height: 96vh;
    }

    .header__top{
        padding: 34px 0px;
    }

    .sidebar{
        display: none;
    }

    .header__body{
        margin-top: 85px;
    }

    .header__logo{
        margin-left: 50px;
    }

    .header__nav{
        display: flex;
    }

    .header__actions{
        margin-right: 50px;
        gap: 30px;
    }

    /* .cart-tab{
        width: 400px;
    } */

    .header__welcome-massage{
        font-size: 18px;
    }

    .header__main-title{
        width: 70%;
        margin: 40px auto;
        font-size: 72px;
        line-height: 1.5;
    }

    .header__button{
        top: 120%;
    }

    .new__plants{
        margin: 110px auto 58px auto; /*top right buttom left*/
        width: 80%;
    }

    /*-------------------PRODUCTS----------------*/

    .products{
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }

    .product__image {
        width: 100%;
        height: auto;
    }

    /*----------------OUR STORY---------------*/

    .our-story{
        display: flex;
    }
    
    .our-story__left{
        width: 103.5%;
        height: 80vh;
    }

    .our-story__content{
        width: 60%;
        margin-top: 120px;
        margin-left: 10.5%;
    }

    /* ------------------CUSTOMER REVIEW------------------- */

    .customer-reviews{
        margin-top: 130px;
    }
 
    .customer-reviews__title{
        font-size: 40px;
    }

    .customer-reviews__container{
        width: 82%;
        margin: 45px auto 0;
        display: flex;
    }

    .customer-reviews__review{
        width: 26%;
        margin: 0 auto;
    }

    .customer-reviews__content{ 
        margin: 15px 0 20px;
        font-size: 17px;
    }

    /* ---------------------GIRD CARD------------------- */

    .gird-card{
        margin: 100px 0 0px;
    }

    .gird-card__subtitle{
        padding-top: 180px;
    }

    .gird-card__title{
        margin: 35px 0;
        font-size: 72px;
    }

    .gird-card__description{
        font-size: 16px;
    }

    .gird-card__btn{
        margin: 45px auto 100px;
    }

    /* ------------------SERVICE FEATURES------------------ */
    
    .service{
        width: 80%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }

    .service__feature{
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 15px;
    }

    .service__feature i{
        padding: 20px;
        font-size: 20px;
    }

    .service__title{
        font-size: 18px;
    }

    .service__column{
        display: block;
        width: 1px;
        height: 45px;
        margin-left: 30px;
        background-color: rgb(114, 111, 111);
        opacity: 0.2;
    }
}

/* Tablet */
@media screen and (max-width: 1024px) {
    header{
        height: 37vh;
    }

    .header__top{
        padding: 34px 0px;
    }

    .sidebar{
        display: none;
    }

    .header__body{
        margin-top: -12px;
    }

    .header__logo{
        margin-left: 50px;
    }

    .header__nav{
        display: flex;
    }

    .header__actions{
        margin-right: 50px;
        gap: 30px;
    }

    /* .cart-tab{
        width: 400px;
    } */

    .header__welcome-massage{
        font-size: 18px;
    }

    .header__main-title{
        width: 70%;
        margin: 32px auto 40px;
        font-size: 72px;
        line-height: 1.5;
    }

    .header__button{
        top: 120%;
    }

    .new__plants{
        margin: 110px auto 58px auto; /*top right buttom left*/
        width: 93%;
    }

    /*-------------------PRODUCTS----------------*/

    .products{
        width: 93%;
        grid-template-columns: repeat(3, 1fr);
    }

    .product__image {
        width: 100%;
        height: auto;
    }

    /*----------------OUR STORY---------------*/
    .our-story{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .our-story__left{
        width: 100%;
        height: 47vh;
    }

    .our-story__right{
        position: absolute;
        top: 42%;
    }

    .our-story__content{
        width: 93%;
        margin: 0 auto;
        background-color: #ffffff;
    }

    .our-story__title{
        padding: 42px 38px 5px;
    }
    
    .our-story__tagline{
        padding: 0 38px;
    }

    .our-story__description,
    .our-story__details {
        padding: 0 38px;
    }

    .our-story__btn{
        margin: 15px 0 43px 36px;
        padding: 13px 30px;
    }

    /* ------------------CUSTOMER REVIEW------------------- */
    .customer-reviews{
        margin-top: 110px;
    }

    .customer-reviews__title{
        font-size: 40px;
    }

    .customer-reviews__container{
        width: 100%;
        margin: 45px auto 0;
        display: flex;
    }

    .customer-reviews__review{
        width: 26%;
        margin: 0 auto;
    }

    .customer-reviews__content{ 
        margin: 15px 0 20px;
        font-size: 16px;
    }

    /* ---------------------GIRD CARD------------------- */

    .gird-card{
        margin: 86px 0 0px;
    }

    .gird-card__subtitle{
        padding-top: 80px;
    }

    .gird-card__title{
        margin: 28px 0;
        font-size: 56px;
    }

    .gird-card__description{
        font-size: 16px;
    }

    .gird-card__btn{
        margin: 40px auto 15px;
    }

    /* ------------------SERVICE FEATURES------------------ */
    
    .service{
        width: 95%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .service__feature{
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 15px;
    }

    .service__feature i{
        padding: 20px;
        font-size: 20px;
    }

    .service__title{
        line-height: 1.2;
        font-size: 20px;
    }

    .service__description{
        padding-top: 2px;
        line-height: 1.3;
    }

    .service__column{
        display: none;
        width: 1px;
        height: 45px;
        margin-left: 30px;
        background-color: rgb(114, 111, 111);
        opacity: 0.2;
    }
}

@media screen and (max-width: 920px) {
    header{
        height: 42vh;
    }

    .header__top{
        padding: 34px 0px;
    }

    .sidebar{
        display: flex;
    }

    .menubar, 
    .close-menu{
        margin-left: 40px;
    }

    .header__body{
        margin-top: 65px;
    }

    .header__logo{
        margin-left: 50px;
    }

    .header__nav{
        display: none;
    }

    .header__actions{
        margin-right: 40px;
        gap: 30px;
    }

    /* .cart-tab{
        width: 400px;
    } */

    .header__welcome-massage{
        font-size: 14px;
    }

    .header__main-title{
        width: 86%;
        margin: 32px auto 40px;
        font-size: 48px;
        line-height: 1.5;
    }

    .header__button{
        top: 146%;
    }

    .new__plants{
        margin: 110px auto 58px auto; /*top right buttom left*/
        width: 93%;
    }

    /*-------------------PRODUCTS----------------*/

    .products{
        width: 93%;
        grid-template-columns: repeat(3, 1fr);
    }

    .product__image {
        width: 100%;
        height: auto;
    }

    /*----------------OUR STORY---------------*/
    .our-story{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .our-story__left{
        width: 100%;
        height: 57vh;
    }

    .our-story__right{
        position: absolute;
        top: 42%;
    }

    .our-story__content{
        width: 93%;
        margin: 0 auto;
        background-color: #ffffff;
    }

    .our-story__title{
        padding: 42px 38px 5px;
    }
    
    .our-story__tagline{
        padding: 0 38px;
    }

    .our-story__description,
    .our-story__details {
        padding: 0 38px;
    }

    .our-story__btn{
        margin: 15px 0 43px 36px;
        padding: 13px 30px;
    }

    /* ------------------CUSTOMER REVIEW------------------- */
    .customer-reviews{
        margin-top: 110px;
    }

    .customer-reviews__title{
        font-size: 40px;
    }

    .customer-reviews__container{
        width: 100%;
        margin: 45px auto 0;
        display: flex;
    }

    .customer-reviews__review{
        width: 26%;
        margin: 0 auto;
    }

    .customer-reviews__content{ 
        margin: 15px 0 20px;
        font-size: 16px;
    }

    /* ---------------------GIRD CARD------------------- */

    .gird-card{
        margin: 86px 0 0px;
    }

    .gird-card__subtitle{
        padding-top: 80px;
    }

    .gird-card__title{
        margin: 28px 0;
        font-size: 56px;
    }

    .gird-card__description{
        font-size: 16px;
    }

    .gird-card__btn{
        margin: 40px auto 15px;
    }

    /* ------------------SERVICE FEATURES------------------ */
    
    .service{
        width: 95%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .service__feature{
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 15px;
    }

    .service__feature i{
        padding: 20px;
        font-size: 20px;
    }

    .service__title{
        line-height: 1.2;
        font-size: 16px;
    }

    .service__description{
        padding-top: 2px;
        line-height: 1.3;
    }

    .service__column{
        display: none;
        width: 1px;
        height: 45px;
        margin-left: 30px;
        background-color: rgb(114, 111, 111);
        opacity: 0.2;
    }
}


/* Mobile */
@media (max-width: 768px){
    header{
        height: 51vh;
    }

    .header__top{
        padding: 25px 0px;
    }

    .sidebar{
        display: flex;
    }

    .menubar, 
    .close-menu{
        margin-left: 40px;
    }

    .header__logo{
        margin-left: 30px;
    }

    .header__body{
        margin-top: 51px;
    }

    .header__nav{
        display: none;
    }

    .header__actions{
        margin-right: 40px;
        gap: 20px;
    }

    /* .cart-tab{
        width: 400px;
    } */

    .header__welcome-massage{
        font-size: 14px;
    }

    .header__main-title{
        width: 86%;
        margin: 32px auto 40px;
        font-size: 48px;
        line-height: 1.5;
    }

    .header__button{
        top: 133%;
    }

    .new__plants{
        width: 93%;
    }

    /*-------------------PRODUCTS----------------*/

    .products{
        width: 93%;
        grid-template-columns: repeat(3, 1fr);
    }

    .product__image {
        width: 100%;
        height: auto;
    }

    .product__cart-content{
        font-size: 10px;
    }

    .fa-caret-right{
        font-size: 10px;
    }

    .product__cart-icon{
        font-size: 11px;
        padding: 10px;
    }

    .rating i{
        font-size: 0.55em;
    }

    .product__name{
        font-size: 0.9em;
    }

    .product__category{
        font-size: 0.7em;
    }

    .product__price{
        font-size: 0.7em;
    }

    /*----------------OUR STORY---------------*/
    .our-story{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .our-story__left{
        width: 100%;
        height: 65vh;
    }

    .our-story__right{
        position: absolute;
        top: 40%;
    }

    .our-story__content{
        width: 93%;
        margin: 0 auto;
        background-color: #ffffff;
    }

    .our-story__title{
        padding: 42px 38px 5px;
    }
    
    .our-story__tagline{
        padding: 0 38px;
    }

    .our-story__description,
    .our-story__details {
        padding: 0 38px;
    }

    .our-story__btn{
        margin: 15px 0 43px 36px;
        padding: 13px 30px;
    }

    /* ------------------CUSTOMER REVIEW------------------- */
    .customer-reviews{
        margin-top: 450px;
    }

    .customer-reviews__title{
        font-size: 33px;
    }

    .customer-reviews__container{
        width: 100%;
        margin: 45px auto 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .customer-reviews__review{
        width: 88%;
        margin: 0 auto;
    }

    .customer-reviews__content{ 
        margin: 10px 0 15px;
        font-size: 16px;
    }

    /* ---------------------GIRD CARD------------------- */

    .gird-card{
        margin: 70px 0 0px;
    }

    .gird-card__subtitle{
        padding-top: 80px;
    }

    .gird-card__title{
        margin: 28px 0;
        font-size: 56px;
    }

    .gird-card__description{
        font-size: 16px;
    }

    .gird-card__btn{
        margin: 40px auto 15px;
    }

    /* ------------------SERVICE FEATURES------------------ */

    .service{
        width: 95%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .service__feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 10px;
    }

    .service__feature i{
        padding: 15px;
        font-size: 15px;
    }
    
    .service__feature i{
        padding: 15px;
        font-size: 15px;
    }
    
    .service__title{
        text-align: center;
        line-height: 1.2;
        font-size: 16px;
    }

    .service__description{
        padding-top: 2px;
        text-align: center;
        line-height: 1.3;
    }

    .service__column{
        display: none;
        width: 1px;
        height: 45px;
        margin-left: 30px;
        background-color: rgb(114, 111, 111);
        opacity: 0.2;
    }
}

@media (max-width: 480px){

    header{
        max-height: 53vh;
        min-height: 47px;
    }

    .header__top{
        padding: 34px 0px 25px;
    }

    .sidebar{
        display: flex;
    }

    .menubar, 
    .close-menu{
        margin-left: 30px;
    }

    .header__body{
        margin-top: 60px;
    }

    .header__logo{
        margin-left: 30px;
    }

    .header__nav{
        display: none;
    }

    .header__actions{
        margin-right: 30px;
        gap: 20px;
    }

    .header__welcome-massage{
        font-size: 14px;
    }

    .header__main-title{
        width: 86%;
        margin: 22px auto 40px;
        font-size: 40px;
        line-height: 1.5;
    }

    .header__button{
        top: 129%;
    }

    .new__plants{
        margin: 80px auto 58px auto; /*top right buttom left*/
        width: 93%;
        flex-direction: column;
        gap: 20px;
    }

    /*-------------------PRODUCTS----------------*/

    .products{
        width: 87%;
        grid-template-columns: repeat(2, 1fr);
    }

    .product__image {
        width: 100%;
        height: auto;
    }

    .product__cart-content{
        font-size: 9px;
    }

    .fa-caret-right{
        font-size: 10px;
    }

    .product__cart-icon{
        font-size: 10px;
        padding: 7px;
    }

    .rating i{
        font-size: 0.6em;
    }

    .product__name{
        font-size: 0.95em;
    }

    .product__category{
        font-size: 0.7em;
    }

    .product__price{
        font-size: 0.7em;
    }

    /*----------------OUR STORY---------------*/
    .our-story{
        display: flex;
        flex-direction: column;
        margin-top: -15px;
    }

    .our-story__left{
        width: 100%;
        height: 28vh;
    }

    .our-story__right{
        margin-top: 154px;
    }

    .our-story__content{
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
    }

    .our-story__title{
        padding: 30px 26px 0px;
        font-size: 14px;
    }
    
    .our-story__tagline{
        padding: 0 26px;
        margin-bottom: 25px;
        font-size: 25px;
    }

    .our-story__description,
    .our-story__details {
        padding: 0 26px;
        font-size: 14px;
    }

    .our-story__btn{
        margin: 15px 0 43px 36px;
        padding: 13px 30px;
    }

    /* ------------------CUSTOMER REVIEW------------------- */
    .customer-reviews{
        margin-top: 530px;
    }

    .customer-reviews__title{
        font-size: 31px;
    }

    .customer-reviews__container{
        width: 100%;
        margin: 45px auto 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .customer-reviews__review{
        width: 88%;
        margin: 0 auto;
    }

    .customer-reviews__content{ 
        margin: 5px 0 15px;
        font-size: 16px;
    }

    /* ---------------------GIRD CARD------------------- */

    .gird-card{
        margin: 54px 0 0px;
    }

    .gird-card__subtitle{
        padding-top: 55px;
    }

    .gird-card__title{
        width: 88%;
        margin: 22px auto;
        font-size: 36px;
        line-height: 1.3;
    }

    .gird-card__description{
        font-size: 14px;
        width: 79%;
        margin: 0 auto;
        line-height: 1.5;
    }

    .gird-card__btn{
        margin: 33px auto -5px;
    }
}